h1{
    color:white;
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: black;
}
#col{
    color: #30520a;
    text-decoration: none;
}
.cls{
    color:rgb(18, 52, 161)
}
h3{
    color: hsl(185, 75%, 60%);
}